# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/Ruby Tutorials.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
angular_todo_app/node_modules/*
angular_todo_app/.idea/*